body{
	margin:0;
	padding:0;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size:16px;
	background:#fff;
	color:#353535;
	height:100%;
}

html{
	height:100%;
}

#page_wrap{
	padding:0 40px;
	background:#fff;
	width:90%;
	max-width:650px;
	margin:0 auto;
	flex-grow:1;
}

@media(max-width:1000px){
	#page_wrap{
		width:100%;
		padding:0 30px;
		box-sizing:border-box;
	}
}

a, a:visited{
	color:#3e3e3e;
	text-decoration:none;
	display:inline-block;
	border-bottom:1px dotted #3e3e3e;
	padding-bottom:4px;
}

div.post_content a{
	color:#3399ff;
	font-weight:bold;
}

div.more_proj{
	text-align:center;
}

a:hover{
	color:#0e0e0e;
	border-bottom:1px solid #0e0e0e;
}

/* HEADER */

header#page_top{
	padding:40px 0 30px 0;
}

header#page_top.full{
	padding:30px 0 70px;
}

header#page_top h1{
	margin:0 0 16px 0;
	padding:0;
	text-align:center;
	font-size:4rem;
	font-weight:700;
	color:#0e0e0e;
}

header#page_top p{
	text-align:center;
	color:#3e3e3e;
	font-size:1.4rem;
	font-weight:300;
	line-height:1.5;
	margin:0 0 4px 0;
	padding:0;
}

header#page_top section#navigation{
	display:flex;
	justify-content:space-between;
	margin-bottom:30px;
}

header#page_top.full section#navigation{
	margin-bottom:50px;
}

header#page_top section#navigation span{
	font-weight:700;
	font-size:1.2em;
	margin-right:15px;
	display:inline-block;
}

header#page_top section#navigation a{
	display:inline-block;
	color:#3e3e3e;
	padding:0 12px 12px 12px;
	text-decoration:none;
	font-weight:300;
	font-size:1.2rem;
	border-bottom:none;
}

header#page_top section#navigation a.active{
	color:#3399FF;
}

header#page_top section#navigation a:last-child{
	margin-right:0;
	padding:0 0 12px 12px;
}

header#page_top section#navigation a:first-child{
	padding:0 12px 12px 0;
}

header#page_top section#navigation a:hover{
	color:#3399FF;
}

/* CONTENT */
section#content{

}

	/* posts list */
	section#content section.posts h2.year{
		margin:30px 0 0 0;
		padding:0 0 12px 0;
		border-bottom:1px solid #ccc;
		color:#3399FF;
		font-size:1.8em;
		font-weight:400;
	}

	section#content section.posts h2.year:first-of-type{
		margin-top:0px;
	}

	section#content section.posts{
		
	}

	section#content section.posts article.post{
		padding:16px 0;
		cursor:pointer;
		border-bottom:1px solid #ccc;
		transition:0.2s;
	}

	section#content section.posts article.post:hover{
		background:#ececec;
		padding:16px 10px;
		transition:0.2s;
	}

	section#content section.posts article.post:after{
		content:'';
		display:table;
		clear:both;
	}

	section#content section.posts article.post span.date{
		float:right;
	}

	/* single posts */
	section#content article.post{

	}

	section#content.projects article.post{
		margin-bottom:50px;
	}

	section#content article.post h2{
		text-align:center;
		font-size:3rem;
		margin:0 0 50px 0;
		color:#0e0e0e;
		font-weight:700;
	}

	section#content article.post h3{
		display:inline-block;
		margin:0;
		color:#0e0e0e;
		font-weight:700;
		position:relative;
		z-index:10;
	}

	section#content article.post div.title_wrap{
		position:relative;
		font-size:2rem;
		margin:0 0 25px 0;
	}

	section#content article.post div.title_wrap span.year,
	section#content a.readmore article.post div.title_wrap span.year{
		background:#3399FF;
		color:#fff;
		padding:3px 9px;
		font-size:0.8em;
		display:inline-block;
		position:absolute;
		top:0.2rem;
		left:-6.5rem;
		border-bottom:none;
	}

	section#content article.post p.date{
		text-align:center;
		margin:0 0 30px 0;
		color:#3e3e3e;
		font-size:1.2rem;
	}

	section#content article.post div.post_content{
		line-height:1.5;
		font-size:1.2rem;
		z-index:10;
		position:relative;
	}

	section#content article.post div.post_content img{
		max-width:90%;
		max-height:600px;
		width:auto;
		height:auto;
		display:block;
		margin:15px auto;
	}

	section#content a.readmore{
		border-bottom:none;
		font-weight:normal;
	}

	section#content a.readmore article.post{
		color:#353535;
		position:relative;
	}

	section#content a.readmore article.post h3 span{
		z-index:10;
		position:relative;
	}

	section#content a.readmore article.post div.slider_thing{
		height:calc(100% + 1rem);
		width:0px;
		position:absolute;
		top:-0.5rem;
		left:-1.6rem;
		background:#3399FF;
		z-index:1;
		transition:width 0.2s;
	}

	section#content a.readmore article.post:hover div.slider_thing{
		width:calc(100% + 2.8rem);
		transition:width 0.2s;
	}

	section#content a.readmore article.post:hover h3{
		color:#fff;
	}

	section#content a.readmore article.post span.more{
		display:block;
		text-align:right;
		padding:10px 0 15px 0px;
		color:#3e3e3e;
		border-bottom:1px dotted #3e3e3e;
	}

	section#content a.readmore article.post:hover span.more{
		color:#0e0e0e;
		border-bottom:1px solid #0e0e0e;
	}

	/* error pages */
	section#content article.error h1{
		text-align:center;
		font-size:5rem;
		margin:0;
		padding:0;
	}

	section#content article.error p{
		text-align:center;
		color:#3e3e3e;
		font-size:1.5rem;
	}

/* FOOTER */
footer#page_bottom{
	padding:40px 0px;
	text-align:center;
	color:#999;
}

footer#page_bottom a{
	color:#999;
	border-bottom:none;
	padding:0;
	text-decoration:underline;
}

footer#page_bottom a:hover{
	border-bottom:none;
}