Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/views/[A-z]+/assets/.+$
RewriteCond %{REQUEST_URI} !^/post/.+\.php$
RewriteCond %{REQUEST_URI} !^/app/ajax.php$
RewriteCond %{REQUEST_URI} !^/imgstore/.+$
RewriteRule ^(.*)$ index.php [NC,L]